html {
  height: 100%;
}

body {
  margin: 0;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  max-width: 600px;
  margin: 0 auto;
}

.form {
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.userInput {
  display: flex;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}

h1 {
  font-weight: 100;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(79, 98, 148);
}

input {
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
  flex-grow: 1;
  margin-right: 5px;
}

input:disabled {
  opacity: 0.4;
  border: none;
}

input[type="submit"]:hover {
  background-color: #ff482c;
}

input[type="submit"] {
  background-color: #d4472b;
  border: none;
  color: white;
}

input[type="submit"]:disabled {
  background-color: #141E30;
}

.error {
  color: #e82627;
  margin-top: 3px;
  font-size: 14px;
}

.error::before {
  display: inline;
  content: "⚠ ";
}

.success::before {
  display: inline;
  content: '\2713';
}

.success {
  color: chartreuse;
  margin-top: 3px;
  font-size: 14px;
}
